/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* common */
body {
    background-color: #000;
    height: 100vh;
}
.row{
    display: flex;
}

header {
    height: 30px;
    text-align: end;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

main {
    height: calc(100% - 150px);
    background-color: black;
    width: 90%;
    margin: auto;
    overflow-y: auto; 
}

footer {
    height: 90px;
    background-color: #222222;
    margin-top: 10px;   
}
small{
    display: block;
}
li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
li i{
    padding: 5px;
    
}

/* header */
header span{
    background-color: grey;
    border-radius: 5px;
    padding: 4px;
    margin-right: 5px;
}

/* main */
.container{
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;

}
.guest{
    position: relative;
    max-width:245px;
    height: 145px;
    margin: 10px;
}
.guest img{
    width:100%;
    height: 100%;
    display: block;
}
.utente{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 4px;
}

/* footer */
.room-settings{
    justify-content: space-between;
    margin-top: 20px;
}
.leave-room{
    background-color: grey;
}
.leave-room small{
    color: red;
    text-align: center;
    padding: 20px 30px;
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
}